<div class="one">
  <div class="container">
    <!-- Local reference variable using components -->
    <app-templaterefvaraible #customer></app-templaterefvaraible>
    <p>You have selected : <b>{{customer.selectedCustomer?.name}}</b> </p>
  </div>


  <div class="container1">
    <h3>@VieChild </h3>
    <p>Example : 1</p>
    <label> DOB : </label>
    <input type="date" #dobInput (blur)="caluclateAge()"><br><br>
    <!-- #dobInput is local or template reference variable -->
    <label> AGE : </label>
    <input type="text" #ageInput style="width:20px"> <!-- #ageInput is local or template reference variable -->

    <p>Example : 2 => To access child component</p>
    <app-demo></app-demo>
    {{demoComp.sayHello()}}

    <p>Example : 3</p>
    <div>This is the View Child Methid</div>
  </div>

  <app-ng-content></app-ng-content>