<div class="container1">
    <h3>ng-Content</h3>
    <app-product>
        <div class="title">I phone</div>
        <button class="btn">Show More in i phone</button>
    </app-product>
    <app-product>
        <div class="title">Samsung</div>
        <button class="btn">Show More in Samsung</button>
    </app-product>
    <app-product>
        <div class="title">Realmi</div>
        <button class="btn">Show More in Realmi</button>
    </app-product>
    <app-product>
        <div class="title">Motorola</div>
        <button class="btn">Show More in Motorola</button>
    </app-product>
</div>